h1 {
    color: blueviolet;
}
body {
    background-color: rgb(192, 173, 211);
}
img {
    width: 200px;
    
}
.wrapper {
    width: 800px;
    margin: auto;
}
a:hover {
    color: green;
}
h2 {
    color: blue;
}